<h1>Todolists#new</h1>
<p>Find me in app/views/todolists/new.html.erb</p>

<h1>新規投稿</h1>
<% if @list.errors.any? %>
  <p><%= @list.errors.count %>件のエラーが発しました。</p>
  <% @list.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@list, url:'/todolists', local:true do |f| %>
<h4>タイトル</h4>
<%= f.text_field :title %>
<h4>本文</h4>
<%= f.text_area :body %>
<h4>画像</h4>
<%= f.attachment_field :image %>

<%= f.submit 'とうこう' %>
<% end %>